{% extends 'base.html.twig' %}
{% block title %}Inscription{% endblock %}

{% block main %}
{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}
<div id="connexion">
    <form action="{{ path('connexion') }}" method="post">
        <div>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        <label for="username">Email:</label>
        <input type="text" id="username" name="_username" value="{{ last_username }}" />
        </div>

        <br>

        <div>
        <label for="password">Mot de passe:</label>
        <input type="password" id="password" name="_password" />
        </div>

        <br>
        {#
        If you want to control the URL the user
        is redirected to on success (more details below)
        
        #}
        {{ app.session.count|json_encode|raw }}
        {% if app.session.count > 2 %}
            <input type="hidden" name="_target_path" value="/demande-remboursement" />
        {% else %}
            <input type="hidden" name="_target_path" value="/profil" />
        {% endif %}
        <button type="submit" >Se connecter</button>
    </form>
    <button onclick="hideAndDisplayI();" >Créer un compte</button>
</div>
<div id="inscription" style="display:none;">
    <form action="{{ path('inscription') }}" method="post">

        {#
        If you want to control the URL the user
        is redirected to on success (more details below)
        
        #}

        <input type="hidden" name="_target_path" value="/profil" />
        <button type="submit" >S'inscrire</button>
    </form>
    <button onclick="hideAndDisplayC();" >Se connecter</button>
</div>

<script>
    var div_inscription = document.getElementById("inscription");  
    var div_connexion = document.getElementById("connexion");  
    console.log(div_inscription.style.display)
    console.log(div_connexion.style.display)
    function hideAndDisplayI(){
        div_inscription.style.display = "block";
        div_connexion.style.display = "none"

    }
    function hideAndDisplayC(){
        div_connexion.style.display = "block";
        div_inscription.style.display = "none"

    }
</script>
{% endblock %}


