
<div id="content" class="container">
	<div class="bloc_popup row">
		<div class="block_left1 col-xs-12 col-sm-12 col-md-6 col-lg-6">
			<div class="switch">			
					<button class="btn switch_first" onclick="hideC(event);">Je rejoins hedee</button>
					<button class="btn switch_second1" onclick="hideC(event);">
                        <i class="fa fa-arrow-right" style="font-size:24px"></i>
                    </button>
				
			</div>
		</div>
        <div class="block_right col-xs-12 col-sm-12 col-md-6 col-lg-6">
			<div id="connexion">
				<h3> J'ai déjà un compte </h3> 
				
				{{ form_widget(form1.client.email, {'attr' : {'placeholder' : 'Votre adresse mail'}, 'id': 'email'}) }}

				{{ form_widget(form1.client.plainPassword.first, {'attr' : {'placeholder' : 'Votre mot de passe'}, 'id': 'password1'}) }}
				<div id="pswd2" class="pswd2" style="display: none;">
                    {{ form_label(form1.client.plainPassword.second) }}
                    {{ form_errors(form1.client.plainPassword.second) }}
                    {{ form_widget(form1.client.plainPassword.second, {'id': 'password2'}) }} 
                </div>

				<a href="{{path('request_resetting')}}" target="blank">Mot de passe oublié</a>
				<br>
				<button class="blue_button replace_btn" onclick="return false;">Je me connecte</button>
			</div>
		</div>
	</div>
</div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/autocomplete.js/0/autocomplete.jquery.min.js"></script>
		<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script src="{{asset('jquery/jquery-steps/build/jquery.steps.js')}}"></script>
		<script src="{{asset('jquery/jquery-validate/dist/jquery.validate.js')}}"></script>
    {% block javascript %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
        redirect()
        function hideC(e){
            e.preventDefault();
            radiobtn = document.getElementById("pmembre");
            radiobtn.checked = true;
            changeM();
            //redirect()
        } 
        $("#password1").on('input', function(){
            var x = this.value;
            $("#password2").val(x);
        })         
            /*var form = $("#form-enseigne");    
            form.validate({
                rules: {
                    "demandes[client][email]":{
                        "required": true,
                        "email": true,
                        "remote": {
                            url: "/connexion2", 
                            method: "POST",
                            data: {
                                '_username' : function(){ return $('#email').val()}
                                },
                            dataType: "json",
                        },
                    },
                    "demandes[client][plainPassword][first]":{
                        "required": true,
                        "remote": {
                            url: "/connexion2", 
                            method: "POST",
                            data: {                                
                                "_password": function(){ return $('#password1').val()},
                                "_username": function(){ return $('#email').val()},
                                }, 
                            dataType: "json",           
                        },
                    },
                    "demandes[client][plainPassword][second]":{
                        "required": false,
                    }
                },
            })*/
        </script>
        {% endblock %}