                <div class="container form_elig">
                    <div class="title_box">
                        <h2>Hedee teste votre éligibilité </h2>
                    </div> <!-- fin class="title_box" -->

                    <!-- <form>-->
                    {{form_start(form, {
                                        'attr':{
                                                'autocomplete' : 'off', 
                                                'id' : 'form-eligibilite', 
                                                'onsubmit' : 'event.preventDefault(); loadForm()'
                                                }, 
                                        'action': '/demande-remboursement/'}) 
                    }}                   
                    <div class="categorie">
                        {{form_errors(form.categorie)}}                       
                        {{form_label(form.categorie)}}                        
                        {{form_widget(form.categorie, {'attr': {'placeholder' : 'Sélectionner votre catégorie'}, 'id' : 'cat_produit'}) }}
                        {{form_help(form.categorie)}}                     
                    </div> <!-- fin class="categorie" -->
                    <div id="paragraph_id1">Champs requis</div>

                    <div class="choisir_enseigne">
                            {{form_errors(form.enseigne)}}
                            {{form_label(form.enseigne)}}
                            {{form_widget(form.enseigne, {'attr':{'placeholder' : 'Ex: Darty'}, 'id': 'select_enseigne' }) }}
                            {{form_help(form.enseigne)}}
                    </div> <!-- fin class="choisir_enseigne" -->
                    <div id="paragraph_id2">Champs requis</div>

                    <div class="prix_article">
                        {{form_errors(form.prix)}}
                        {{form_label(form.prix)}}
                        {{form_widget(form.prix, {'attr': {'placeholder' : 'en euros',
                        'onkeypress': "return verifierCaracteres1(event);"}, 'id' : 'form_prix'}) }}
                        {{form_help(form.prix)}} 
                    </div> <!-- fin class="prix_article" -->
                    <div id="paragraph_id4">Champs requis</div>
                    
                    <div class="date_achat">
                        {{form_errors(form.date_achat)}}
                        {{form_label(form.date_achat)}}        
                        {{form_widget(form.date_achat, {'attr' : { 'placeholder' : 'jj/mm/aaaa',
                                'readonly': true}, 'id': 'datepicker'})}}

                        {{form_help(form.date_achat)}} 
                        <!-- <label for="date">Date d'achat :</label>
                        <input type="text" name="date" id="datepicker"> -->
                    </div> <!-- fin class="date_achat" -->
                    <div id="paragraph_id3">Champs requis</div>
                    
                        
                    <div class="demander">
                        {# {{form_widget(form.submit,  {'id': 'soumettre'})}} #}
                        <button id="soumettre">Hedee, rembourse-moi !</button>
                         
                         {{form_row(form._token)}}
                    </div><!-- fin class="affichage_msg" -->
                {{form_end(form)}}
                    
                    <!--</form> -->
            </div>
                    