        {% form_theme form1 'bootstrap_4_layout.html.twig' %}
        {{form_start(form1, {'attr': {'id': 'form-enseigne'} }) }}
            <div class="les_infos">
                <h3 style="display: none;">Informations d'achat</h3>
                <section>  
                    <div id="mole" class="magasin_ou_internet"><label for="choix"> Avez-vous acheté en magasin ou en ligne ?</label>
                        <input type="radio" name="choix" value="magasin" id="magasin"/> <label for="magasin">Magasin</label></input>
                        <input type="radio" name="choix" value="internet" id="internet" /> <label for="internet">En ligne</label></input>
                    </div>
                    <div id="test"></div>            
                                   

                    {#<div class="facture">
                        {{ form_label(form1.pieceJointe ) }}
                        <br>
                        {{ form_widget(form1.pieceJointe, {'attr': {'id': 'num_com'}} ) }}
                    </div>#}
                </section>
                
                <h3 style="display: none;">Identification</h3>
                <section>
                    {% if form1.client.email is defined %}
                        <div id="pre_auth" class="pre_auth" style="display: none;"><label for="connect"> Possédez vous un compte ?</label>
                            <input type="radio" name="connect" value="membre" id="membre" checked/> <label for="membre">Oui</label></input>
                            <input type="radio" name="connect" value="pmembre" id="pmembre" /> <label for="pmembre">Non</label></input>
                        </div>
                        <div id="auth">
                            {% include 'enseigne/connexion.html.twig' %}
                        </div>
                    {% endif %}
                </section>
                
                <h3 style="display: none;">Coordonnées</h3>
                <section>
                    <div id="info_client" class="info_client">

                        <div class="prenom">
                            {{ form_label(form1.client.prenom) }}
                            <br>
                            {{ form_errors(form1.client.prenom) }}
                            {{ form_widget(form1.client.prenom, {'id': 'prenom'}) }}
                        </div>  

                        <div class="nom">
                        {{ form_label(form1.client.nom) }}
                        <br>
                        {{ form_errors(form1.client.nom) }}
                        {{ form_widget(form1.client.nom, {'id': 'nom'}) }} 
                        </div>

                        <div class="telephone">
                            {{ form_label(form1.client.numeroTelephone) }}
                            <br>
                            {{ form_errors(form1.client.numeroTelephone) }}
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">+33</span>
                                </div>
                                {{ form_widget(form1.client.numeroTelephone, {'id': 'num'}) }}
                            </div>
                        </div>

                        <div class="nom_rue">
                        {{ form_label(form1.client.adresse.nomRue) }}
                        <br>
                        {{ form_widget(form1.client.adresse.nomRue) }}
                        {{ form_errors(form1.client.adresse.nomRue) }}
                        </div>

                        {#<div class="complements">
                        {{ form_label(form1.client.adresse.complements) }}
                        <br>
                        {{ form_widget(form1.client.adresse.complements) }}
                        {{ form_errors(form1.client.adresse.complements) }}
                        </div>#}

                        <div class="ville">
                        {{ form_label(form1.client.adresse.ville) }}
                        <br>
                        {{ form_widget(form1.client.adresse.ville) }} 
                        {{ form_errors(form1.client.adresse.ville) }}
                        </div>

                        <div class="code_postal_2">
                        {{ form_label(form1.client.adresse.codePostal) }}
                        <br>
                        {{ form_widget(form1.client.adresse.codePostal, { attr: 
                        { 'onkeypress': "return verifierCaracteres(event);"}, 'id': 'cp_perso'}) }}
                        {{ form_errors(form1.client.adresse.codePostal) }}
                    </div> <!-- fin class="info_client" -->            
                </section>

                <h3 style="display: none;">Validation</h3>
                <section>
                    <label for="recap_ens">Enseigne</label><input id="recap_ens" type="text" readonly><br>
                    <label for="recap_cat">Catégorie</label><input id="recap_cat" type="text" readonly><br>
                    <div id="recap_produit"></div>
                    <label for="recap_prix">Prix d'achat</label><input id="recap_prix" type="text" readonly><br>
                    {#<img id="facture_jpg" alt="Votre facture est en cours de chargement">#}
                    {{ form_row(form1.cgu) }} 
                    {{ form_row(form1._token) }}
                </section>
            </div>
        {{ form_end(form1, {'render_rest': false}) }}

        <div id="dialog-message" title="Formulaire complet" style="display: none;">
            <p>
                <span class="ui-icon ui-icon-circle-check" style="float:left; margin:0 7px 50px 0;"></span>
                Votre demande a bien été prise en compte.
            </p>
            <p>
                <a href="{{ path('accueil') }}">Déposer une nouvelle annonce</a> .
            </p>
        </div>

        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/autocomplete.js/0/autocomplete.jquery.min.js"></script>
		<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script src="{{asset('jquery/jquery-steps/build/jquery.steps.js')}}"></script>
		<script src="{{asset('jquery/jquery-validate/dist/jquery.validate.js')}}"></script>
        <script>
        $(document).ready(function() {
        var recap;
        var dialog =  $( "#dialog-message" );
        var form = $("#form-enseigne");
        step(form)
        $('body').on('change', 'input[name=choix]', function() {
            
            /*form.validate({
                errorPlacement: function errorPlacement(error, element) { element.before(error); },
            });*/
            if($("[name='choix']:checked").val() == "internet"){
                var url = "{{ path('internet') }}";
                $.ajax({
                    type: 'get',
                    url: url,
                    success: function (data) {
                        $('#test').html(data);
                        var form = $("#form-enseigne");
                        //step(form)
                        recap = '<label for="recap_url">Url</label><input id="recap_url" type="text" readonly><br>'   
                        $('#recap_produit').html(recap);             
                    }
                });
            }
            if($("[name='choix']:checked").val() == "magasin"){
                var url = "{{ path('mag') }}";
                
                $.ajax({
                    type: 'get',
                    url: url,
                    success: function (data) {
                        $('#test').html(data);
                        var form = $("#form-enseigne");
                        //step(form)
                        recap = '<label for="recap_marque">Marque</label><input id="recap_marque" type="text" readonly><br>'
                        recap += '<label for="recap_ref">Référence</label><input id="recap_ref" type="text" readonly><br>'
                                            
                        $('#recap_produit').html(recap);  
                    }
                });
            }               
        });
        var form = $("#form-enseigne");    
        form.validate({
            errorPlacement: function errorPlacement(error, element) { element.before(error); },
        });

        function step(form){
            form.children("div").steps({
                headerTag: "h3",
                bodyTag: "section",
                contentMode: "async",
                transitionEffect: "slideLeft",
                onStepChanging: function (event, currentIndex, newIndex)
                {
                if(currentIndex > newIndex){
                    return true;
                }
                else{
                    if(currentIndex == 0){
                        if($('[name=choix]:checked').length != 1)
                            return false; 
                        return form.valid();
                    }
                    
                    if(currentIndex == 1){
                        
                        if($('[name=connect]:checked').length != 1 && {{app.user|json_encode|raw}} == null)
                            return false;

                        if($("[name='connect']:checked").val() == "membre"){

                            $.ajax({
                                type: 'post',
                                url: '/connexion3',
                                data: { "_username": $('#email').val() },
                                datatype: "json",
                                success: function (data){
                                    $('#nom').val(data.nom);
                                    $('#prenom').val(data.prenom);
                                    $('#num').val(data.numeroTelephone);
                                    $('#demandes_client_adresse_nomRue').val(data.adresse.nomRue);
                                    $('#demandes_client_adresse_ville').val(data.adresse.ville);
                                    $('#cp_perso').val(data.adresse.codePostal);
                                }
                            });
                            
                        }

                        if($("[name='connect']:checked").val() == "pmembre"){
                            if(form.valid()){
                                $.ajax({
                                    type: 'post',
                                    url: "{{ path('birth') }}",
                                    async: false,
                                    success: function (data, status){
                                        if (document.getElementById("birth") == undefined)
                                            $('.nom').after(data); 
                                    }
                                })
                            }
                        }
                    }
                    if(currentIndex == 2){
                        if(form.valid()){
                            var url = "{{ path('facture') }}";
                            var donnees = form.serialize();
                            /*array_cat = ['Produits électroniques', 'Maisons et jardins', 'Jeux vidéos et jouets',
                                'Santé et beauté', 'Auto et moto', 'Sports et mode'];*/
                            $('#recap_ens').val("{{app.session.get('enseigne')}}");
                            $('#recap_cat').val("{{app.session.get('categorie')}}");
                            $('#recap_prix').val("{{app.session.get('prix')}}");
                            if($("[name='choix']:checked").val() == "magasin"){
                                $('#recap_marque').val($('#mar').val());
                                $('#recap_ref').val($('#ref').val());

                            }
                            if($("[name='choix']:checked").val() == "internet"){
                                $('#recap_url').val($('#url').val());
                            }
                            $.post(url, donnees, function(data,status){                         
                            });
                        }
                        return form.valid();
                    }
                    form.validate().settings.ignore = ":disabled,:hidden";
                    return form.valid();
                }

                },
                onStepChanged: function (event, currentIndex, priorIndex)
                {   
                    //passe directement à l'étape 4 si l'utilisateur est connecté
                    if (currentIndex === 1 &&  priorIndex == 0 && $("[name='connect']:checked").val() != "pmembre" && 
                        ({{app.user|json_encode|raw}} != null) || $('#steps-uid-0-t-4').parent().attr('aria-disabled') == false )
                    {
                        form.children("div").steps("next");
                    }

                    if (currentIndex === 1 &&  priorIndex == 2 && $("[name='connect']:checked").val() != "pmembre")
                    {
                        form.children("div").steps("previous");
                    }
                },
                onFinishing: function (event, currentIndex)
                {            
                    form.validate().settings.ignore = ":disabled";
                    return form.valid();
                },
                onFinished: function (event, currentIndex)
                {   
                    if($("[name='connect']:checked").val() == "pmembre"){
                        $.ajax({
                            type: 'post',
                            url: '/inscription3',
                            data: { "_username": $('#email').val(), "_password": $('#password1').val() }
                        });
                    }

                    var url = "/demande-remboursement/";
                    var form2 = document.getElementById("form-enseigne");
                    var donnees = new FormData(form2)
                             

                    $.ajax({
                        url: url,
                        type: "POST",
                        data: donnees,
                        processData: false,  // indique à jQuery de ne pas traiter les données
                        contentType: false ,  // indique à jQuery de ne pas configurer le contentType
                    //$.post(url, donnees, function(data,status){
                        /*success:function(data){
                            form.preventDefault(); 
                        } */            
                    });
                   dialog.dialog({
                        closeOnEscape: false,
                        open: function(event, ui) {
                            $(".ui-dialog-titlebar-close", ui.dialog | ui).hide();
                        },
                        modal: true, draggable: false,
                        buttons: {
                            Ok: function() {
                                if({{app.user|json_encode|raw}} == null){
                                    $.ajax({
                                        url: '/connexion4',
                                        type: "POST",
                                        data: { "_username": $('#email').val() },
                                        //processData: false,  // indique à jQuery de ne pas traiter les données
                                        //contentType: false ,  // indique à jQuery de ne pas configurer le contentType           
                                    });
                                }
                                document.location.href="{{ path('profil') }}";
                            }
                        }
                    });
                }
            });
        }
    });        
    </script>
        


        