<div class="container les_infos">
        {{form_start(form1, {'attr': {'id': 'form-enseigne'} }) }}
            <div>
                <h3 style="display: none;">Achat</h3>
                <section>  
                    <div class="title_box container">
                        {#<h2>Hedee a besoin d'en savoir plus sur votre achat</h2>#}
                    </div> <!-- fin class="title_box" -->
                    <div id="mole" class="mole container">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                               <p> Où avez-vous fait votre achat ? </p>
                            </div>
                            <div class="col">                               
                                <input type="radio" name="choix" value="magasin" id="magasin"/>
                                <label for="magasin">Magasin</label>
                            </div>
                            <div class="col">                               
                                <input type="radio" name="choix" value="internet" id="internet"/>
                                <label for="internet">En ligne</label>
                            </div>
                        </div>
                    </div>
                    <div id="form_demande">
                    
                    </div>           
                </section> <!-- fin étape 1 formulaire -->
                
                <h3 style="display: none;">Identification</h3>
                <section>
                    <div class="title_box container">
                        <h2>Pas si vite !</h2>
                        <p>Avant de passer à l'étape suivante, Hedee souhaite savoir <strong>
                            si vous êtes nouveau dans l'aventure
                            ou si vous avez déjà rejoint la communauté ! </strong>
                        </p>
                    </div> <!-- fin class="title_box" -->
                    {% if form1.client.email is defined %}
                        <div id="pre_auth" class="pre_auth" style="display: none;"><label for="connect"> Possédez vous un compte ?</label>
                            <input type="radio" name="connect" value="membre" id="membre" checked/> <label for="membre">Oui</label></input>
                            <input type="radio" name="connect" value="pmembre" id="pmembre" /> <label for="pmembre">Non</label></input>
                        </div>
                        <div id="auth">
                            {% include 'enseigne/connexion.html.twig' %}
                        </div>
                    {% endif %}
                </section> <!-- fin étape 2 formulaire -->                
                
                <h3 style="display: none;">Coordonnées</h3>
                <section>
                    <div class="title_box">
                        <h2>Encore un petit effort...</h2>
                        <p>Merci de confirmer vos coordonnées, ou modifiez-les si nécessaire !</p>
                    </div> <!-- fin class="title_box" -->
                    <div id="info_client container" class="info_client">

                        <div class"prenom">
                            {{ form_label(form1.client.prenom) }}                                  
                            {{ form_errors(form1.client.prenom) }}
                            {{ form_widget(form1.client.prenom, {'id': 'prenom'}) }}
                        </div>
                        <div class="nom">
                            {{ form_label(form1.client.nom) }}                                   
                            {{ form_errors(form1.client.nom) }}
                            {{ form_widget(form1.client.nom, {'id': 'nom'}) }}
                        </div>

                        <div class="telephone">
                            {{ form_label(form1.client.numeroTelephone) }}                           
                            {{ form_errors(form1.client.numeroTelephone) }}
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">+33</span>
                                </div>
                                {{ form_widget(form1.client.numeroTelephone, {'id': 'num'}) }}
                            </div>
                        </div>

                        <div class="nom_rue">
                        {{ form_label(form1.client.adresse.nomRue) }}
           
                        {{ form_widget(form1.client.adresse.nomRue) }}
                        {{ form_errors(form1.client.adresse.nomRue) }}
                        </div>

                        <div class="ville">
                            <div class="row">
                                <div class="col">
                                    {{ form_label(form1.client.adresse.ville) }}
                                    {{ form_widget(form1.client.adresse.ville) }} 
                                    {{ form_errors(form1.client.adresse.ville) }}
                        
                                </div>
                                <div class="col">
                                    {{ form_label(form1.client.adresse.codePostal) }}                                
                                    {{ form_widget(form1.client.adresse.codePostal, { attr: 
                                    { 'onkeypress': "return verifierCaracteres(event);"}, 'id': 'cp_perso'}) }}
                                    {{ form_errors(form1.client.adresse.codePostal) }}
                                </div>
                            </div>  
                        </div>
                    </div> <!-- fin class="info_client" -->            
                </section> <!-- fin étape 3 formulaire -->                

                <h3 style="display: none;">Validation</h3>
                <section>
                    <div class="title_box">
                        <h2>Récapitulatif de votre demande</h2>
                    </div> <!-- fin class="title_box" -->
                    <label for="recap_ens">Enseigne</label><input id="recap_ens" type="text" readonly><br>
                    <label for="recap_cat">Catégorie du produit</label><input id="recap_cat" type="text" readonly><br>
                    <div id="recap_produit"></div>
                    <label for="recap_prix">Montant de l'achat</label><input id="recap_prix" type="text" readonly><br>
                    {#<img id="facture_jpg" alt="Votre facture est en cours de chargement">#}
                    <div class="cgu">
                        {{ form_widget(form1.cgu) }}
                        {{ form_label(form1.cgu) }} 
                    </div>
                    {{ form_row(form1._token) }}
                </section> <!-- fin étape 4 formulaire -->
                
            </div>
        {{ form_end(form1, {'render_rest': false}) }}
        </div> <!-- fin class="container les_infos" -->
 
        <script>
        $(document).ready(function() {
        var recap;
        var dialog =  $( "#dialog-message" );
        var form = $("#form-enseigne");
        
        step(form)
        $('body').on('change', 'input[name=choix]', function() {
            
            /*form.validate({
                errorPlacement: function errorPlacement(error, element) { element.before(error); },
            });*/
            if($("[name='choix']:checked").val() == "internet"){
                var url = "{{ path('internet') }}";
                $.ajax({
                    type: 'get',
                    url: url,
                    success: function (data) {
                        $('#form_demande').html(data);
                        var form = $("#form-enseigne");
                        //step(form)
                        recap = '<label for="recap_url">Url de la page du produit</label><input id="recap_url" type="text" readonly><br>'   
                        $('#recap_produit').html(recap);             
                    }
                });
            }
            if($("[name='choix']:checked").val() == "magasin"){
                var url = "{{ path('mag') }}";
                
                $.ajax({
                    type: 'get',
                    url: url,
                    success: function (data) {
                        $('#form_demande').html(data);
                        var form = $("#form-enseigne");
                        //step(form)
                        recap = '<label for="recap_marque">Marque</label><input id="recap_marque" type="text" readonly><br>'
                        recap += '<label for="recap_ref">Référence</label><input id="recap_ref" type="text" readonly><br>'
                                            
                        $('#recap_produit').html(recap);  
                    }
                });
            }               
        });
            
        form.validate({
            rules: {
                "demandes[urlProduit]":{
                    "required": true,
                    "url": true,
                },
                "demandes[client][email]":{
                    "required": true,
                    "email": true,
                    "remote": {
                        param: {
                            url: "/inscription2", 
                            method: "POST",
                            data: {
                                '_username' : function(){ return $('#email').val()}
                                },
                            dataType: "json",
                        },
                        depends: function(element) {
                            return $("#pmembre").is(":checked");
                        }                             
                    },
                },
                "demandes[client][plainPassword][first]":{
                    "required": true,
                    "remote": {
                        param: {
                            url: "/connexion2", 
                            method: "POST",
                            data: {                                
                                "_password": function(){ return $('#password1').val()},
                                "_username": function(){ return $('#email').val()},
                                }, 
                            dataType: "json",
                            async: false,
                        },
                        depends: function(element) {
                            return $("#membre").is(":checked");
                        }            
                    },
                },
                "demandes[client][plainPassword][second]":{
                    "required": true,
                    "equalTo": {
                        param :"#password1",
                        depends: function(element) {
                            return $("#pmembre").is(":checked");
                        }
                    }
                },
                "demandes[client][numeroTelephone]":{
                    "required": true,
                    "regex_phone": true,
                },
                "demandes[client][adresse][nomRue]":{
                    "required": true,
                },
                "demandes[client][adresse][ville]":{
                    "required": true,
                },
                "demandes[client][adresse][code_postal]":{
                    "required": true,
                    "minlength": 5,
                    "maxlength": 5,
                }
            },
            messages: {
                "demandes[cgu]": {
                    required: "Vous devez accepter les conditions pour poursuivre le demande",                   
                },
                "demandes[client][plainPassword][first]":{
                    "remote" : "mauvaise combinaison adresse email et mot de passe"
                },               
            }
        });
        form.validate({
            errorPlacement: function errorPlacement(error, element) { element.before(error); },
        });
        function scrollTo( target ) {
            if( target.length ) {
                $("html, body").stop().animate( { scrollTop: target.offset().top }, 1500);
            }
        }
        function step(form){
            form.children("div").steps({
                headerTag: "h3",
                bodyTag: "section",
                contentMode: "async",
                transitionEffect: "slideLeft",
                onInit: function (event, currentIndex){
                    if(currentIndex === 0){
                        document.getElementById("menuprevious").parentElement.style.display = "none";
                            $("html, body").animate({scrollTop : 0}, 1500);
                    }
                },
                onStepChanging: function (event, currentIndex, newIndex)
                {
                if(currentIndex > newIndex){
                    return true;
                }
                else{
                    if(currentIndex == 0){
                        if($('[name=choix]:checked').length != 1)
                            return false; 
                        return form.valid();
                    }
                    
                    if(currentIndex == 1){
                        
                        if($('[name=connect]:checked').length != 1 && {{app.user|json_encode|raw}} == null)
                            return false;
                        if($("[name='connect']:checked").val() == "pmembre"){
                            if(form.valid()){
                                $.ajax({
                                    type: 'post',
                                    url: "{{ path('birth') }}",
                                    async: false,
                                    success: function (data, status){
                                        if (document.getElementById("birth") == undefined)
                                            $('.nom').after(data); 
                                    }
                                })
                            }
                        }
                    }
                    if(currentIndex == 2){
                        if(form.valid()){
                            var url = "{{ path('facture') }}";
                            var donnees = form.serialize();
                            /*array_cat = ['Produits électroniques', 'Maisons et jardins', 'Jeux vidéos et jouets',
                                'Santé et beauté', 'Auto et moto', 'Sports et mode'];*/
                            $('#recap_ens').val("{{app.session.get('enseigne')}}");
                            $('#recap_cat').val("{{app.session.get('categorie')}}");
                            $('#recap_prix').val("{{app.session.get('prix')}}");
                            if($("[name='choix']:checked").val() == "magasin"){
                                $('#recap_marque').val($('#mar').val());
                                $('#recap_ref').val($('#ref').val());
                            }
                            if($("[name='choix']:checked").val() == "internet"){
                                $('#recap_url').val($('#url').val());
                            }
                            $.post(url, donnees, function(data,status){                         
                            });
                        }
                        return form.valid();
                    }
                    form.validate().settings.ignore = ":disabled,:hidden";
                    return form.valid();
                }
                },
                onStepChanged: function (event, currentIndex, priorIndex)
                {   
                    //passe directement à l'étape 4 si l'utilisateur est connecté
                    if (currentIndex === 1){
                        document.getElementById("menuprevious").parentElement.style.display = "table-cell";
                        document.getElementById("menunext").parentElement.style.display = "none";
                        if (priorIndex == 0 && $("[name='connect']:checked").val() != "pmembre" && 
                            ({{app.user|json_encode|raw}} != null) || $('#steps-uid-0-t-4').parent().attr('aria-disabled') == false )
                        {
                            form.children("div").steps("next");
                            document.getElementById("steps-uid-0-t-1").lastElementChild.style.display = 'inline';
                        }
                        if (priorIndex == 2 && $("[name='connect']:checked").val() != "pmembre")
                        {
                            form.children("div").steps("previous");
                        }
                        document.getElementById("steps-uid-0-t-0").lastElementChild.style.display = 'inline';
                        
                        redirect()
                    }
                    if (currentIndex == 2){
                        document.getElementById("steps-uid-0-t-1").lastElementChild.style.display = 'inline';
                        if($("[name='connect']:checked").val() == "membre"){
                            
                            $.ajax({
                                type: 'post',
                                url: '/connexion3',
                                data: { "_username": $('#email').val() },
                                datatype: "json",
                                success: function (data){
                                    $('#nom').val(data.nom);
                                    $('#prenom').val(data.prenom);
                                    $('#num').val(data.numeroTelephone);
                                    $('#demandes_client_adresse_nomRue').val(data.adresse.nomRue);
                                    $('#demandes_client_adresse_ville').val(data.adresse.ville);
                                    $('#cp_perso').val(data.adresse.codePostal);
                                    
                                }
                            });
                            
                        }
                        if($('#cp_perso').val().length == 4)
                            $('#cp_perso').val("0".concat($('#cp_perso').val()))
                    }
                    if (currentIndex == 3){
                        document.getElementById("steps-uid-0-t-2").lastElementChild.style.display = 'inline';
                    }
                },
                onFinishing: function (event, currentIndex)
                {            
                    form.validate().settings.ignore = ":disabled";
                    return form.valid();
                },
                onFinished: function (event, currentIndex)
                {   
                    if($("[name='connect']:checked").val() == "pmembre"){
                        $.ajax({
                            type: 'post',
                            url: '/inscription3',
                            data: { "_username": $('#email').val(), "_password": $('#password1').val() }
                        });
                    }
                    var url = "/demande-remboursement/";
                    var form2 = document.getElementById("form-enseigne");
                    var donnees = new FormData(form2)
                             
                    $.ajax({
                        url: url,
                        type: "POST",
                        data: donnees,
                        processData: false,  // indique à jQuery de ne pas traiter les données
                        contentType: false ,  // indique à jQuery de ne pas configurer le contentType
                        /*success:function(data){
                            form.preventDefault(); 
                        } */            
                    });
                    if({{app.user|json_encode|raw}} == null){
                        $.ajax({
                            url: '/connexion4',
                            type: "POST",
                            data: { "_username": $('#email').val() },
                                        //processData: false,  // indique à jQuery de ne pas traiter les données
                                        //contentType: false ,  // indique à jQuery de ne pas configurer le contentType           
                        });
                    }
                    $.ajax({
                        type: 'get',
                        url: "{{path('felicitation')}}",
                        success: function (data) {
                            $('#bloc_header').html(data); 
                            $('#form_location').html(""); 
                        }
                    });
                    /*$('#form_location').html(""); 
                    $('#bloc_header').load("{{path('felicitation')}} #content")*/
                    
                    //window.location = "{{ path('felicitation')}}"
                    /*dialog.dialog({
                        closeOnEscape: false,
                        open: function(event, ui) {
                            $(".ui-dialog-titlebar-close", ui.dialog | ui).hide();
                        },
                        modal: true, draggable: false,
                        buttons: {
                            Ok: function() {
                                if({{app.user|json_encode|raw}} == null){
                                    $.ajax({
                                        url: '/connexion4',
                                        type: "POST",
                                        data: { "_username": $('#email').val() },
                                        //processData: false,  // indique à jQuery de ne pas traiter les données
                                        //contentType: false ,  // indique à jQuery de ne pas configurer le contentType           
                                    });
                                }
                                document.location.href="{{ path('profil') }}";
                            }
                        }
                    });*/
                }
            });
        }  /***** fin function step *****/
    });        
    </script>
        
