{% extends 'base.html.twig' %}

{% block stylesheets %} 
    <link rel="stylesheet" href="{{asset('css/style_formulaire.css')}}">
    <link rel="stylesheet" type="text/css" href="{{asset('css/iconselect.css')}}" >
    <script type="text/javascript" src="{{asset('js/iconselect.js')}}"></script>
        
    <script type="text/javascript" src="{{asset('js/iscroll.js')}}"></script>
{% endblock %}

{% block title %}Demande de remboursement{% endblock %}

{% block main %}
    <div class="bloc_header">
        <h1 class="header_title">Je récupère mon argent</h1>
    </div>
    <div id="form_location">
        {% include 'enseigne/eligibilite.html.twig' %}
    </div>

{% endblock %}

{% block javascript %}
{{ parent() }}
<script>
    function verifierCaracteres(event) {	 		
                        
        var caracteres = [48, 49, 50, 51, 52 ,53, 54, 55, 56, 57]
        if(caracteres.indexOf(event.keyCode) < 0){
            event.preventDefault;
            return false;
        }
        else{
            return true;
        }	
    }

    function verifierCaracteres1(event) {
        //console.log(event.keyCode);
        var caracteres = [44, 46, 48, 49, 50, 51, 52 ,53, 54, 55, 56, 57]
        if(caracteres.indexOf(event.keyCode) < 0){
            event.preventDefault;
            return false;
        }
        else{
            return true;
        }
    }

    function loadForm(){
        if($("#form-eligibilite").valid()){
            var donnees = $('#form-eligibilite').serialize()
            $.post('/demande-remboursement/', donnees, function(data,status){
            });
            var url = "{{ path('formulaire') }}";
            $.ajax({
                type: 'get',
                url: url,
                    success: function (data) {
                        $('#form_location').html(data);           
                }
            });
        }
            

    }
    //var form = document.getElementById("test").innerHTML;
</script>
<script>
    $(document).ready(function() {
        var recap;
        attachDatepicker($( "#datepicker" ))

        function attachDatepicker(val){    
                val.datepicker({ 
                        minDate: -30, maxDate: 0, 
                            altField: "#datepicker",
                            closeText: 'Fermer',
                            prevText: 'Précédent',
                            nextText: 'Suivant',
                            currentText: 'Aujourd\'hui',
                            monthNames: ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre'],
                            monthNamesShort: ['Janv.', 'Févr.', 'Mars', 'Avril', 'Mai', 'Juin', 'Juil.', 'Août', 'Sept.', 'Oct.', 'Nov.', 'Déc.'],
                            dayNames: ['Dimanche', 'Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi'],
                            dayNamesShort: ['Dim.', 'Lun.', 'Mar.', 'Mer.', 'Jeu.', 'Ven.', 'Sam.'],
                            dayNamesMin: ['D', 'L', 'M', 'M', 'J', 'V', 'S'],
                            weekHeader: 'Sem.',
                            dateFormat: 'dd-mm-yy' 
            }); 
        }
    });
</script>


<script>
        var changeM = function() {
            if($("[name='connect']:checked").val() == "membre"){
                var url = "{{ path('membre') }}";
                $.ajax({
                    type: 'get',
                    url: url,
                    success: function (data) {
                        $('#auth').html(data);               
                    }
                });
            }
            
            if($("[name='connect']:checked").val() == "pmembre"){
                var url = "{{ path('pmembre') }}";
                $.ajax({
                    type: 'get',
                    url: url,
                    success: function (data) {
                        $('#auth').html(data);               
                    }
                });
            }               
        }
        $('body').on('change', 'input[name=connect]', changeM);
        </script>
        <script>
            $("#form-eligibilite").validate({
                rules: {
                    "eligibilite[categorie]":{
                        "required": true,
                        "categorie": true,
                    },
                    "eligibilite[enseigne]":{
                        "required": true,
                    },
                    "eligibilite[date_achat]":{
                        "required": true,
                    },
                    "eligibilite[prix]":{
                        "required": true,
                        "number": true,
                        "min": 20,
                        "regex_prix": /^[0-9]+(\.[0-9]{1,2})?$/
                    }
                },
            })
        </script>
       

        <script>

	var url_enseigne = "{{ path('admin_utility_enseigne') }}";   
    $.ajax({
        dataType: "json",
        url: url_enseigne,
        success: function (data, status){
            var array = []
            data.enseignes.forEach(function(element){
                array.push(element.nomEnseigne)
            })
            $('#select_enseigne').autocomplete({
                source: function( request, response ) {
                            var matcher = new RegExp( "^" + $.ui.autocomplete.escapeRegex( request.term ), "i" );
                            response( $.grep( array, function( item ){
                                return matcher.test( item );
                            }) );
                        },
                minLength: 1,
                delay: 100,
            })

            $('#select_enseigne').on('change', function(){               
                this.value = $.ucfirst(this.value)
                $.validator.addMethod(
                    "validation_enseigne",
                    function(value, element, array) {
                    if(array.indexOf(value) < 0)
                        return this.optional(element)
                    else
                        return true
                    },"Nous ne prenons pas encore les demandes pour cette enseigne"
                );
                $('#select_enseigne').rules( "add", {
                    "validation_enseigne": array
                });
            });
        }
    });
 
</script>
   
{% endblock %}

