{% extends 'base.html.twig' %}

{% block stylesheets %} 
    <link href="https://fonts.googleapis.com/css?family=Work+Sans&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="{{asset('css/style_formulaire.css')}}">
    <link rel="stylesheet" type="text/css" href="{{asset('css/iconselect.css')}}" >
    <script type="text/javascript" src="{{asset('js/iconselect.js')}}"></script>
        
    <script type="text/javascript" src="{{asset('js/iscroll.js')}}"></script>
{% endblock %} {# fin stylesheets #}

{% block title %}Demande de remboursement{% endblock %}

{% block main %}
    <div id="bloc_header" class="bloc_header">
        <h1 class="header_title">Je récupère mon argent</h1>
    </div>
    <div id="chargement">Chargement en cours...</div>
    <div id="form_location">
        {% include 'enseigne/eligibilite.html.twig' %}
    </div>
    <div id="chargement">Chargement en cours...</div>

{% endblock %} {# fin main #}

{% block javascript %}
{{ parent() }}
<script>
    function loadForm(){
        if($("#form-eligibilite").valid()){
            /*$( document ).ajaxStart(function() {
                $("#form_location").hide();
                $( "#chargement" ).show();
            });
            $( document ).ajaxStop(function() {
                $("#chargement").hide();
                $("#form_location").show();
            });*/
            var donnees = $('#form-eligibilite').serialize()
            $.post('/demande-remboursement/', donnees, function(data,status){
            });
            //var url = "{{ path('formulaire') }}";
            /*$.ajax({
                type: 'get',
                url: url,
                    success: function (data) {
                        $('#form_location').html(data);           
                }
            });*/
            $('#form_location').load("{{ path('formulaire') }}")
        }
    } /***** fin fonction loadForm *****/ 

    

    var changeM = function() {
        if($("[name='connect']:checked").val() == "membre"){
            var url = "{{ path('membre') }}";
            $.ajax({
                type: 'get',
                url: url,
                success: function (data) {
                    $('#auth').html(data);               
                }
            });
        }
            
        if($("[name='connect']:checked").val() == "pmembre"){
            var url = "{{ path('pmembre') }}";
            $.ajax({
                type: 'get',
                url: url,
                success: function (data) {
                    $('#auth').html(data);               
                }
            });
        }               
    } /***** fin fonction changeM *****/ 
    
    attachDatepicker()

</script>

<script>
    $(document).ready(function() {
        var recap;
        $('body').on('change', 'input[name=connect]', changeM);
        

        $("#form-eligibilite").validate({
            rules: {
                "eligibilite[categorie]":{
                    "required": true,
                    "categorie": true,
                },
                "eligibilite[enseigne]":{
                    "required": true,
                },
                "eligibilite[date_achat]":{
                    "required": true,
                },
                "eligibilite[prix]":{
                    "required": true,
                    "number": true,
                    "min": 20,
                    "regex_prix": /^[0-9]+(\.[0-9]{1,2})?$/
                }
            },
            messages: {
                "eligibilite[prix]":{
                    "min": jQuery.validator.format("Hedee ne prend en compte que les achats supérieurs ou égaux à {0}."),
                }
            },
        })
    });
</script>
       
<script>
	var url_enseigne = "{{ path('admin_utility_enseigne') }}";   
    $.ajax({
        dataType: "json",
        url: url_enseigne,
        success: function (data, status){
            var array = []
            data.enseignes.forEach(function(element){
                array.push(element.nomEnseigne)
            })
            $('#select_enseigne').autocomplete({
                source: function( request, response ) {
                            var matcher = new RegExp( "^" + $.ui.autocomplete.escapeRegex( request.term ), "i" );
                            response( $.grep( array, function( item ){
                                return matcher.test( item );
                            }) );
                        },
                minLength: 1,
                delay: 100,
            })

            $('#select_enseigne').on('change', function(){               
                this.value = ucfirst(this.value)
                $.validator.addMethod(
                    "validation_enseigne",
                    function(value, element, array) {
                    if(array.indexOf(value) < 0)
                        return this.optional(element)
                    else
                        return true
                    },"Nous ne prenons pas encore les demandes pour cette enseigne"
                );
                $('#select_enseigne').rules( "add", {
                    "validation_enseigne": array
                });
            });
        }
    });
 
</script>
   
{% endblock %} {# fin javascript #}

