{% extends 'base.html.twig' %}

{% block stylesheet %} 
    <link rel="stylesheet" href="{{asset('style.css')}}">
{% endblock %}

{% block title %}{{enseigne.nomEnseigne}}{% endblock %}

{% block main %}
<main>
    <div class="container">
        <div class="row" >
        
            <h1>Formulaire</h1>
            <div class="magasin_ou_internet"><label for="choix"> Avez-vous acheté en magasin ou en ligne ?</label>
                        <input type="radio" name="choix" value="magasin" id="magasin"/> <label for="magasin">Magasin</label></input>
                        <input type="radio" name="choix" value="internet" id="internet" /> <label for="internet">En ligne</label></input>
            </div>
            <div id="test">

            </div>
        </div>
        <div id="storage" style="display:none;"> </div>
    </div>
</main>
{% endblock %}

{% block javascript %}
{{ parent() }}
<script>
    var isValidURL = function (url) {

        var urlPattern = "(https?|ftp)://(www\\.)?(((([a-zA-Z0-9.-]+\\.){1,}[a-zA-Z]{2,4}|localhost))|((\\d{1,3}\\.){3}(\\d{1,3})))(:(\\d+))?(/([a-zA-Z0-9-._~!$&'()*+,;=:@/]|%[0-9A-F]{2})*)?(\\?([a-zA-Z0-9-._~!$&'()*+,;=:/?@]|%[0-9A-F]{2})*)?(#([a-zA-Z0-9._-]|%[0-9A-F]{2})*)?";

        urlPattern = "^" + urlPattern + "$";
        var regex = new RegExp(urlPattern);

        return regex.test(url);
    };
var form = document.getElementById("test").innerHTML;
$(document).ready(function() {

    $('body').on('change', 'input[name=choix]', function() {
        
        form.validate({
            errorPlacement: function errorPlacement(error, element) { element.before(error); },
        });
        if($("[name='choix']:checked").val() == "internet"){
		    var url = "{{ path('internet') }}";
            $.ajax({
                type: 'get',
                url: url,
                success: function (data) {
                    $('#test').html(data);
                    var form = $("#form-enseigne");
                    step(form)
                    document.getElementById("url").addEventListener("change", function(){                      
                        if(!isValidURL(this.value)){
                            console.log("adresse email invalable")
                        }
                    })
                }
            });
        }
        if($("[name='choix']:checked").val() == "magasin"){
		    var url = "{{ path('mag') }}";
            $.ajax({
                type: 'get',
                url: url,
                success: function (data) {
                    $('#test').html(data);
                    var form = $("#form-enseigne");
                    step(form)
                }
            });

        }           
    });
       

    
    var form = $("#form-enseigne");    
    form.validate({
        errorPlacement: function errorPlacement(error, element) { element.before(error); },
    });

    var form = $("#form-enseigne");
    function step(form){
        form.children("div").steps({
            headerTag: "h3",
            bodyTag: "section",
            transitionEffect: "slideLeft",
            onStepChanging: function (event, currentIndex, newIndex)
            {
            if(currentIndex == 1){
                if(currentIndex < newIndex)
                    if(form.valid()){
                        document.getElementById("facture_jpg").src = "";
                        var url = "{{ path('facture') }}";
                        var donnees = form.serialize();
                        $.post(url, donnees, function(data,status){
                                alert(status)
                                var path = data.path.split('/')
                                path = "/" +  path[path.length -1]
                                console.log(path)
                                document.getElementById("facture_jpg").src = path;
                        
                        });
                    }
                }
            if(currentIndex > newIndex){
                return true;
            }
            else{
                form.validate().settings.ignore = ":disabled,:hidden";
                return form.valid();
            }

            },
            onFinishing: function (event, currentIndex)
            {            
                form.validate().settings.ignore = ":disabled";
                return form.valid();
            },
            onFinished: function (event, currentIndex)
            {   
                var url = "/demande-remboursement/";
                var donnees = form.serialize();
                    $.post(url, donnees, function(data,status){
                        console.log(status)
                        console.log(data.path)
                        /*if (status == "success"){

                        } */                  
                    });
                form.submit();
            }
        });
    }
    
});

</script>
<script>
  $( function() {
    $( document ).tooltip();
  });
</script>
{% endblock %}

