{% extends 'base.html.twig' %}

{% block stylesheet %} 
    <link rel="stylesheet" href="{{asset('style.css')}}">
{% endblock %}

{% block title %}{{enseigne.nomEnseigne}}{% endblock %}

{% block main %}
<main>
    <div class="container">
        <div class="row" >
        
            <h1>Formulaire</h1>
            <div id="mole" class="magasin_ou_internet"><label for="choix"> Avez-vous acheté en magasin ou en ligne ?</label>
                        <input type="radio" name="choix" value="magasin" id="magasin"/> <label for="magasin">Magasin</label></input>
                        <input type="radio" name="choix" value="internet" id="internet" /> <label for="internet">En ligne</label></input>
            </div>
            <div id="test">

            </div>
        </div>
        <div id="dialog-message" title="Formulaire complet" style="display: none;">
            <p>
                <span class="ui-icon ui-icon-circle-check" style="float:left; margin:0 7px 50px 0;"></span>
                Votre demande a bien été prise en compte.
            </p>
            <p>
                <a href="{{ path('accueil') }}">Déposer une nouvelle annonce</a> .
            </p>
        </div>
    </div>
</main>
{% endblock %}

{% block javascript %}
{{ parent() }}
<script>
    function verifierCaracteres(event) {	 		
                        
        var caracteres = [48, 49, 50, 51, 52 ,53, 54, 55, 56, 57, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105]
        if(caracteres.indexOf(event.keyCode) < 0){
            event.preventDefault;
            return false;
        }
        else{
            return true;
        }	
    }

var form = document.getElementById("test").innerHTML;
$(document).ready(function() {

    $('body').on('change', 'input[name=choix]', function() {
        
        form.validate({
            errorPlacement: function errorPlacement(error, element) { element.before(error); },
        });
        if($("[name='choix']:checked").val() == "internet"){
		    var url = "{{ path('internet') }}";
            $.ajax({
                type: 'get',
                url: url,
                success: function (data) {
                    $('#test').html(data);
                    var form = $("#form-enseigne");
                    step(form)
                    
                }
            });
        }
        if($("[name='choix']:checked").val() == "magasin"){
		    var url = "{{ path('mag') }}";
            
            $.ajax({
                type: 'get',
                url: url,
                success: function (data) {
                    $('#test').html(data);
                    var form = $("#form-enseigne");
                    step(form)
                }
            });
        }           
    });
       

    
    var form = $("#form-enseigne");    
    form.validate({
        errorPlacement: function errorPlacement(error, element) { element.before(error); },
    });

    var form = $("#form-enseigne");
    function step(form){
        form.children("div").steps({
            headerTag: "h3",
            bodyTag: "section",
            transitionEffect: "slideLeft",
            onStepChanging: function (event, currentIndex, newIndex)
            {
            
            if(currentIndex == 1){
                if(currentIndex < newIndex)
                    if(form.valid()){
                        document.getElementById("facture_jpg").src = "";
                        var url = "{{ path('facture') }}";
                        var donnees = form.serialize();
                        $.post(url, donnees, function(data,status){
                                var path = data.path.split('/')
                                path = "/factures/" +  path[path.length -1]
                                //console.log(path)
                                document.getElementById("facture_jpg").src = path;
                        
                        });
                    }
                }
            if(currentIndex > newIndex){
                if(newIndex == 0)
                    $("#mole").show();
                return true;
            }
            else{
                form.validate().settings.ignore = ":disabled,:hidden";
                if (form.valid()){
                    $("#mole").hide();
                    return true
                }
                return form.valid();
            }

            },
            onFinishing: function (event, currentIndex)
            {            
                form.validate().settings.ignore = ":disabled";
                return form.valid();
            },
            onFinished: function (event, currentIndex)
            {   
                var url = "/demande-remboursement/";
                var form2 = document.getElementById("form-enseigne");
                var donnees = new FormData(form2)               

                $.ajax({
                    url: url,
                    type: "POST",
                    data: donnees,
                    processData: false,  // indique à jQuery de ne pas traiter les données
                    contentType: false ,  // indique à jQuery de ne pas configurer le contentType
                //$.post(url, donnees, function(data,status){
                    success:function(data){
                        form.preventDefault(); 
                    }             
                });
                $( "#dialog-message" ).dialog({
                    closeOnEscape: false,
                    open: function(event, ui) {
                        $(".ui-dialog-titlebar-close", ui.dialog | ui).hide();
                    },
                    modal: true, draggable: false,
                    buttons: {
                        Ok: function() {
                            document.location.href="{{ path('profil') }}";
                        }
                    }
                });             
            }
        });
    }
    
});

</script>
<script>
  $( function() {
    $( document ).tooltip();
  });
</script>
{% endblock %}

