        {{form_start(form1, {'attr': {'id': 'form-enseigne'} }) }}
            <div class="les_infos">
                <h3 style="display: none;">Vos informations de commandes</h3>
                <section>              
                                   
                    <div class="url">
                        {{ form_label(form1.urlProduit) }}
                        <br>
                        {{ form_errors(form1.urlProduit) }}
                        {{ form_widget(form1.urlProduit, {'attr' : {'placeholder' : 'http://www.exemple.com/page-produit/',
                        'type' : 'url'}, 'id': 'url'}) }}
                        {{ form_help(form1.urlProduit) }}
                    </div> <!-- fin class="reference" -->
                    <div id="paragraph_id1">URL invalide</div>

                    <div class="numero_commande">
                        <div class="numero_commande_2">
                            <div class="label_2">
                            {{ form_label(form1.numeroCommande) }}
                            </div>

                            <div class="question_2">
                                    <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="right" title="Le numéro de commande se trouve sur votre facture">
                                    i
                                    </button>
                                </div>
                            </div>

                        {{ form_widget(form1.numeroCommande, {'attr': {'id': 'num_com'}} ) }}
                        
                    {{ form_help(form1.numeroCommande) }}                        
                    </div> <!-- fin class="numero_commande" -->

                    {#<div class="facture">
                        {{ form_label(form1.pieceJointe ) }}
                        <br>
                        {{ form_widget(form1.pieceJointe, {'attr': {'id': 'num_com'}} ) }}
                    </div>#}
                </section>

                <h3 style="display: none;">Vos coordonnées</h3>
                <section>
                    <div class="info_client">
                        <div class="nom">
                        {{ form_label(form1.client.nom) }}
                        <br>
                        {{ form_errors(form1.client.nom) }}
                        {{ form_widget(form1.client.nom, {'id': 'nom'}) }} 
                        </div>

                        <div class="prenom">
                            {{ form_label(form1.client.prenom) }}
                        <br>
                        {{ form_errors(form1.client.prenom) }}
                        {{ form_widget(form1.client.prenom, {'id': 'prenom'}) }}
                        </div>

                        <div class="telephone">
                        {{ form_label(form1.client.numeroTelephone) }}
                        <br>
                        {{ form_errors(form1.client.numeroTelephone) }}
                        {{ form_widget(form1.client.numeroTelephone, {'attr' : {'pattern' : '[0][0-9]{9}'}, 'id': 'num' }) }}
                        </div>

                        <div class="nom_rue">
                        {{ form_label(form1.client.adresse.nom_rue) }}
                        <br>
                        {{ form_widget(form1.client.adresse.nom_rue) }}
                        {{ form_errors(form1.client.adresse.nom_rue) }}
                        </div>

                        <div class="complements">
                        {{ form_label(form1.client.adresse.complements) }}
                        <br>
                        {{ form_widget(form1.client.adresse.complements) }}
                        {{ form_errors(form1.client.adresse.complements) }}
                        </div>

                        <div class="ville">
                        {{ form_label(form1.client.adresse.ville) }}
                        <br>
                        {{ form_widget(form1.client.adresse.ville) }} 
                        {{ form_errors(form1.client.adresse.ville) }}
                        </div>

                        <div class="code_postal_2">
                        {{ form_label(form1.client.adresse.code_postal) }}
                        <br>
                        {{ form_widget(form1.client.adresse.code_postal, { attr: 
                        { 'onkeypress': "return verifierCaracteres(event);"}, 'id': 'cp_perso'}) }}
                        {{ form_errors(form1.client.adresse.code_postal) }}
                    </div> <!-- fin class="info_client" -->            
                </section>

                <h3 style="display: none;">Valider</h3>
                <section>
                    <img id="facture_jpg" alt="Votre facture est en cours de chargement">
                    {{ form_row(form1.cgu) }} 
                    {{ form_row(form1._token) }}
                </section>
            </div>
        {{ form_end(form1, {'render_rest': false}) }} 

        <script>
            
            var form = $("#form-enseigne");    
            form.validate({
                rules: {
                    "demandes_internet[urlProduit]":{
                        "required": true,
                        "url": true,
                    },
                    "demandes_internet[client][numeroTelephone]":{
                        "required": true,
                        "regex_tel": /^(0)[1-9][0-9]{8}$/
                    },
                    "demandes_internet[client][adresse][code_postal]":{
                        "minlength": 5,
                        "maxlength": 5,
                    }
                },
                messages: {
                    "demandes_internet[cgu]": {
                        required: "Vous devez accepter les conditions pour poursuivre le demande",
                    
                    }
                }
            });
        </script>      