            
                                   
                    <div class="url">
                        {{ form_label(form1.urlProduit) }}
                  
                        {{ form_errors(form1.urlProduit) }}
                        {{ form_widget(form1.urlProduit, {'attr' : {'placeholder' : 'http://www.exemple.com/page-produit/',
                        'type' : 'url'}, 'id': 'url'}) }}
                        {{ form_help(form1.urlProduit) }}
                    </div> <!-- fin class="reference" -->
                    <div id="paragraph_id1">URL invalide</div>

                    <div class="numero_commande">
                        <div class="numero_commande_2">
                            <div class="label_2">
                            {{ form_label(form1.numeroCommande) }}
                            </div>

                            <div class="question_2">
                                    <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="right" title="Le numéro de commande se trouve sur votre facture">
                                    i
                                    </button>
                                </div>
                            </div>

                        {{ form_widget(form1.numeroCommande, {'attr': {'id': 'num_com'}} ) }}
                        
                    {{ form_help(form1.numeroCommande) }}                        
                    </div> <!-- fin class="numero_commande" -->

                    {#<div class="facture">
                        {{ form_label(form1.pieceJointe ) }}
                        <br>
                        {{ form_widget(form1.pieceJointe, {'attr': {'id': 'num_com'}} ) }}
                    </div>#}
                