<link href="https://fonts.googleapis.com/css?family=Work+Sans&display=swap" rel="stylesheet">              
                    <div class="url">
                        {{ form_label(form1.urlProduit) }}
                  
                        {{ form_errors(form1.urlProduit) }}
                        {{ form_widget(form1.urlProduit, {'attr' : {'placeholder' : 'http://www.exemple.com/page-produit/',
                        'type' : 'url'}, 'id': 'url'}) }}
                        {{ form_help(form1.urlProduit) }}
                    </div> <!-- fin class="reference" -->
                    <div id="paragraph_id1">URL invalide</div>

                    <div class="numero_commande">
                        {{ form_label(form1.numeroCommande) }}
                        {{ form_widget(form1.numeroCommande, {'attr': {'id': 'num_com'}} ) }}
                        
                        {{ form_help(form1.numeroCommande) }}                        
                    </div> <!-- fin class="numero_commande" -->

                    {#<div class="facture">
                        {{ form_label(form1.pieceJointe ) }}
                        <br>
                        {{ form_widget(form1.pieceJointe, {'attr': {'id': 'num_com'}} ) }}
                    </div>#}
                