<div class="code_postal">
                        {{ form_label(form1.ville) }}
                        
                        {{ form_errors(form1.ville) }}
                        {{ form_widget(form1.ville, {'attr' : {'placeholder' : 'Ex: Paris'}, 'id': 'cp'}) }}
                        {{ form_help(form1.ville) }}
                    </div>  <!-- fin class="code_postal" -->

                    <div class="marque">
                        {{ form_label(form1.marqueProduit) }}
                        
                        {{ form_errors(form1.marqueProduit) }}
                        {{ form_widget(form1.marqueProduit, {'attr': {'placeholder' : 'Ex: Sony, Apple, Asus'}, 'id': 'mar'}) }}
                        {{ form_help(form1.marqueProduit) }}
                    </div> <!-- fin class="marque" -->

                    <div class="reference">
                        {{ form_label(form1.referenceProduit) }}
                        {{ form_errors(form1.referenceProduit) }}
                        {{ form_widget(form1.referenceProduit, {'attr': {'placeholder' : 'Ex: Iphone 6S Or 64Go'}, 'id': 'ref'}) }}
                        {{ form_help(form1.referenceProduit) }}
                    </div> <!-- fin class="reference" -->

                    <div class="numero_commande">
                        {{ form_label(form1.numeroCommande) }}                       
                        {{ form_widget(form1.numeroCommande, {'attr': {'id': 'num_com'}} ) }}                       
                        {{ form_help(form1.numeroCommande) }}
                    </div> <!-- fin class="numero_commande" -->

                    <div class="commentaires">
                        {{ form_label(form1.commentaires) }}
                        {{ form_widget(form1.commentaires, {'attr': {'id': 'com'}} ) }}
                        {{ form_help(form1.commentaires) }}
                    </div> <!-- fin class="commentaires" -->

                    <div class="facture">
                        {{ form_label(form1.pieceJointe ) }}
                        
                        {{ form_widget(form1.pieceJointe, {'attr': {'id': 'pj'}} ) }}
                    </div>



    {% block javascript %}
        {#<script>
            var url_marques = "{{ path('admin_utility_marques') }}";
            var url_villes = "{{ path('admin_utility_villes') }}";
            
            /*
            $.ajax({
                dataType: "json",
                url: url_villes,
                success: function (data, status){
                    var array = []
                    data.villes.forEach(function(element){
                        array.push(element.villes + " - " + element.codePostal)
                    })
                    $('#cp').autocomplete({
                        source: function( request, response ) {
                                    var matcher = new RegExp( "^" + $.ui.autocomplete.escapeRegex( request.term ), "i" );
                                    response( $.grep( array, function( item ){
                                        return matcher.test( item );
                                    }) );
                                },
                        minLength: 2,
                        delay: 100,
                    })
                    $('#cp').bind('change', function(){
                        this.value = ucfirst(this.value)
                    });
                }
            });
            $.ajax({
                dataType: "json",
                url: url_marques,
                success: function (data, status){
                    var array = []
                    data.marques.forEach(function(element){
                        array.push(element.nom)
                    })
                    $('#mar').autocomplete({
                        source: function( request, response ) {
                                    var matcher = new RegExp( "^" + $.ui.autocomplete.escapeRegex( request.term ), "i" );
                                    response( $.grep( array, function( item ){
                                        return matcher.test( item );
                                    }) );
                                },
                        minLength: 1,
                        delay: 100,
                    })
                    $('#mar').bind('change', function(){
                        this.value = ucfirst(this.value)
                    });
                }
            });#}
        </script>  
        {% endblock %}