{% extends 'base.html.twig' %}

{% block title %}Espace client{% endblock %}

{% block main %}
<main>
    <div class="container">
        <h1>Bienvenue dans votre espace client {{ user.nom }}</h1>
        <div>
            <div class="menu_profil">
                <ul>
                    <li> <a href="{{ path('profil') }}" class="active">Mes demandes</a> </li>
                    <li> <a href="{{ path('remboursement') }}">Mes remboursements</a> </li>
                    <li> <a href="{{ path('parrainage') }}">Mes parrainages</a> </li>
                    <li> <a href="{{ path('info_client') }}">Mes informations</a> </li>
                </ul>
            </div> <!-- fin class="menu" -->
            <div class="recap">
                <table class="table" border="1">
                    <thead>
                        <tr>
                            <th>Vos demandes</th>
                            <th>Numéro de dossier</th>
                            <th>Statut</th>
                        </tr>
                    </thead>
                    <tbody id="mes-demandes">

                    </tbody>
                </table>
                <div id="nav"></div>
            </div>
            <div class="boxed"><a href="{{ path('accueil') }}">Déposer une nouvelle demande de remboursement</a></div>
        </div>
    </div>
</main>
{% endblock %}
{% block javascript %}
<script>
    $(document).ready(function() {
        var table = document.getElementById("mes-demandes");
        var all_demandes = function (){

            url = "{{ path('client_demandes') }}";
            $.ajax({
                dataType: "json",
                url: url,
                success: function (data, status){
                    var nb = data.length
                    $.each(data, function(i, demande){
                        var tr = document.createElement('TR');
                        var td1 = document.createElement('TD');
                        const date = new Date(demande.dateAchat.timestamp*1000)
                        td1.innerHTML = "Date demande: "  + date.toLocaleDateString();
                        td1.innerHTML += "<br>Produit: " + demande.marqueProduit + " " + demande.referenceProduit;
                        td1.innerHTML += "<br> <a href='" + demande.facture + "'>Voir facture</a>"
                        var td2 = document.createElement('TD');
                        td2.innerHTML = demande.numeroDossier
                        var td3 = document.createElement('TD');
                        td3.innerHTML = demande.statut          
                        tr.appendChild(td1);
                        tr.appendChild(td2);
                        tr.appendChild(td3);
                        table.appendChild(tr)                        
                    });
                    test(nb, '#tab')               
                }
            });
        }

        function test(nb, a){
            var nav;
            var select_all;
            //$(a).after('<div id="nav"></div>');
            document.getElementById('nav').innerHTML = "";
            nav = "#nav"

            var rowsShown = 10;
            var rowsTotal = nb;
            var numPages = rowsTotal/rowsShown;
            for(i = 0;i < numPages;i++) {
                var pageNum = i + 1;
                $(nav).append('<a href="#" rel="'+i+'">'+pageNum+'</a> ');
            }
            $(a + ' tbody tr').hide();
            $(a + ' tbody tr').slice(0, rowsShown).show();
            $(nav + ' a:first').addClass('active');
            $(nav + ' a').bind('click', function(){
                /*if(select_all.checked == true){
                select_all.checked = false
                toggle(false)      
                }*/
                $(nav + ' a').removeClass('active');
                $(this).addClass('active');
                var currPage = $(this).attr('rel');
                var startItem = currPage * rowsShown;
                var endItem = startItem + rowsShown;
                $(a + ' tbody tr').css('opacity','0.0').hide().slice(startItem, endItem).
                css('display','table-row').animate({opacity:1}, 300);
            });          
        }
        /*{% for demande in demandes %}
            var tr = document.createElement('TR');
            var td1 = document.createElement('TD');
            td1.innerHTML = "Date demande:  {{demande.dateAchat|date('m/d/Y')}}";
            td1.innerHTML += "<br>Produit: {{demande.marqueProduit}} {{demande.referenceProduit}}";
            td1.innerHTML += "<br> <a href='{{demande.facture}}'>Voir facture</a>"
            var td2 = document.createElement('TD');
            td2.innerHTML = "{{demande.numeroDossier}}"
            var td3 = document.createElement('TD');
            td3.innerHTML = "{{demande.statut}}"          
            tr.appendChild(td1);
            tr.appendChild(td2);
            tr.appendChild(td3);
            table.appendChild(tr)
        {% endfor %}*/
        window.onload = all_demandes()
    });
</script>
{% endblock %}