{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}
 {% block stylesheets %}
 <link href="https://fonts.googleapis.com/css?family=Work+Sans&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="{{asset('css/style_espace_client.css')}}">
    <link rel="stylesheet" type="text/css" href="{{asset('css/iconselect.css')}}" >
    <script type="text/javascript" src="{{asset('js/iconselect.js')}}"></script>
        
    <script type="text/javascript" src="{{asset('js/iscroll.js')}}"></script>
{% endblock %}
{% block main %}
    <div class="bloc_header">
        <h3>Mon compte</h3>
        <h1 id="header_title"></h1>
    </div>
    <div class="container">
        <div id="wrapper">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">

                    <!-- Sidebar -->
                    <div id="sidebar-wrapper">
                        <nav id="spy">
                            <ul class="sidebar-nav nav">
                                <li class="profile">
                                    <img class="photo-profil" src="{{ app.user.photo }}" alt="Photo de votre profil" />
                                    <div class="hello_profil">
                                        <p class="profil-label">Bonjour </p>
                                        <p class="profil-name"> {{app.user.prenom}} !</p>
                                    </div>
                                </li>
                                <li class="middle">
                                    <a id="demandes-remboursement" href="#anch1">
                                        <span class="fa fa-chevron-right"></span>
                                        <p>Mes demandes de <br>remboursement</p>
                                    </a>
                                </li>
                                <li class="middle">
                                    <a id="informations-personnelles" href="#anch1">
                                        <span class="fa fa-chevron-right"></span>
                                        <p>Mes informations <br>personnelles</p>
                                    </a>
                                </li>
                                <li class="middle">
                                    <a id="porte-monnaie" href="#anch1" >
                                        <span class="fa fa-chevron-right"></span>
                                        <p>Mon porte-monnaie</p>
                                    </a>
                                </li>
                                <li>
                                     <a href="{{path('enseigne')}}" title="Je fais une nouvelle demande">
                                        <button class="demande_button">
                                            Je fais une nouvelle demande
                                        </button>
                                    </a>
                                    
                                    <a href="{{path('logout')}}" title="Je me déconnecte">
                                        <button class="compte_button">                                       
                                            Je me déconnecte
                                    </a>
                                    </button>
                                </li>
                            </ul>
                            
                        </nav>
                    </div>
                </div>

                <!-- Page content -->
                <div class="col-lg-1"><button id="coming_back">Retour</button></div>
                <div class="col-xs-11 col-sm-11 col-md-11 col-lg-7">
                    <div id="page-content-wrapper">
                        <div class="row">
                            <div class="col-md-12 well">
                                <legend id="anch1"></legend>

                            </div>
                        </div>

                        {#<div class="navbar navbar-default navbar-static-bottom">
                            <button id="delete_account" class="orange_button" type="submit">Supprimer mon compte</button>
                                <div id="dialog-confirm" title="Empty the recycle bin?">
                                <p>
                                    <span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>
                                    These items will be permanently deleted and cannot be recovered. Are you sure?
                                </p>
                            </div>
                        </div>#}
                    </div>
                </div>
            </div>

        </div>
    </div>
      
{% endblock %}
{% block javascript %}

<script>        
    $(document).ready(function() {
        var page = $('.bloc_header'); // Page cible
		var speed = 750; // Durée de l'animation (en ms)
		$('html, body').animate( { scrollTop: $(page).offset().top }, speed ); // Go
        $('#coming_back').click(function(){
            $('#sidebar-wrapper').show()
            $('#page-content-wrapper').hide()
            $('.active').removeClass('active')
            history.replaceState(null, null, ' ');
        });
        var section = document.querySelectorAll("a[href='#anch1']")
        Array.from(section).forEach(function(li){
            li.addEventListener('click', function(e){
                e.preventDefault()
                var id = $(this).attr('id') 
                var page = $('.bloc_header'); // Page cible
			    var speed = 750; // Durée de l'animation (en ms)                     
                loadTab(id); 
                $('html, body').animate( { scrollTop: $(page).offset().top }, speed ); // Go
   
            });
        });
        function loadTab(id){
            window.location.hash = "#" + id;
            
            if(!$(window.location.hash).parent().hasClass('active')){
                    $('.active').removeClass('active')
                    $(window.location.hash).parent().addClass('active')
                    if(window.innerWidth < 1025){
                        $('#sidebar-wrapper').hide()
                        $('#page-content-wrapper').show()
                    }
                }
            switch(id){
                case "informations-personnelles":
                    url = "{{path('info_client')}}"
                    title = "Mes informations personnelles";
                    break;
                case "porte-monnaie":
                    url = "{{path('gains')}}"
                    title = "Mon porte-monnaie";
                    break;
                default:
                   url = "{{path('demandes')}}"
                title = "Mes demandes de remboursement"; 
            }  
            $("#header_title").html(title)
            $.ajax({
                type: 'get',
                url: url,
                success: function (data) {
                    $("#anch1").html(data);
                    if(url == "{{path('info_client')}}"){
                        var iconSelect;
                        var selectedText;
                                                    
                        selectedText = document.getElementById('selected-text');
                                                    
                        document.getElementById('my-icon-select').addEventListener('changed', function(e){
                            selectedText.value = iconSelect.getSelectedValue();
                        });
                                                    
                        iconSelect = new IconSelect("my-icon-select");
                        var icons = [];
                        icons.push({'iconFilePath':'{{asset("img/emoji/;).png")}}', 'iconValue':'1'});
                        icons.push({'iconFilePath':'{{asset("img/emoji/=D.png")}}', 'iconValue':'2'});
                        icons.push({'iconFilePath':'{{asset("img/emoji/=o.png")}}', 'iconValue':'3'});
                                                    
                        iconSelect.refresh(icons); 
                        icons.forEach(function(elt){
                            if(elt.iconFilePath == "{{ app.user.photo }}"){
                                iconSelect.setSelectedIndex(elt.iconValue-1)
                            }
                        })
                        //console.logdocument.getElementsByClassName("icon")();
                    }
                }
            });   
                  
        }
        
          
        if(window.innerWidth >= 1025){
            console.log(window.location.hash.substr(1))
            window.onload = loadTab(window.location.hash.substr(1));
        }
    });
</script>
            <script>
                $( function() {
                    $( "#dialog-confirm" ).dialog({
                    autoOpen: false,
                    show: {
                        effect: "blind",
                        duration: 1000
                    },
                    hide: {
                        effect: "blind",
                        duration: 1000
                    },
                    resizable: false,
                    height: "auto",
                    width: 400,
                    modal: true,
                    buttons: {
                        "Supprimer votre compte": function() {
                        $( this ).dialog( "close" );
                        },
                        Cancel: function() {
                        $( this ).dialog( "close" );
                        }
                    }
                    });
                    $( "#delete_account" ).on( "click", function() {
                        console.log("iuo")
                        $( "#dialog-confirm" ).dialog( "open" );
                    });
                } );
            </script>

{% endblock %}