 {% for message in app.flashes('success') %}
                <div class="flash-notice-sucess">
                    {{ message }}
                </div>
            {% endfor %}
            <div>
                {{ form_start(form) }}
                    {{ form_label(form.prenom) }}
                    {{ form_widget(form.prenom) }}
                    {{ form_label(form.nom) }}
                    {{ form_widget(form.nom) }}
                    {{ form_label(form.dateNaissance) }}
                        <div class="row">
                            <div class="col"> 
                                {{ form_widget(form.dateNaissance.day) }} 
                            </div>

                            <div class="col">
                                {{ form_widget(form.dateNaissance.month) }}
                            </div>

                            <div class="col">
                                {{ form_widget(form.dateNaissance.year) }}
                            </div>
                        </div>
                    <label for="mail">Adresse email</label>
                    <input id="mail" type="text" value="{{app.user.email}}" readonly>
                    {{ form_label(form.numeroTelephone) }}
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">+33</span>
                        </div>
                        {{ form_widget(form.numeroTelephone) }}
                    </div>
                    {{ form_label(form.adresse.nomRue) }}   
                    {{ form_widget(form.adresse.nomRue) }} 
                    {{ form_label(form.adresse.ville) }}   
                    {{ form_widget(form.adresse.ville) }} 
                    {{ form_label(form.adresse.codePostal) }} 
                    {{ form_widget(form.adresse.codePostal) }} 
                
                
                <p>Choisir une image de profil</p><div id="my-icon-select"></div>
        
                <input type="text" id="selected-text" name="selected-text" style="width:65px; display: none">
                

                {{ form_widget(form.submit) }} 

                {{ form_end(form, {'render_rest': false} ) }}
                
            </div>
 