{% extends 'base.html.twig' %}

{% block title %}Hello ProfilController!{% endblock %}
{% block stylesheets %}
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' 
    integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>	
{% endblock %}

{% block main %}
    <main>
        <div class="container">
            {% include 'profil/index.html.twig' %}
            <div>
                <table class="table" border="1">
                    <tbody id="mes-demandes">
                        <tr>
                            <td>Nom</td>
                            <td>{{ user.prenom ~ " " ~ user.nom }}</td>
                            <td>
                                <span class="modif_link"> <i class='fas fa-pencil-alt' style="display: none;"></i> Modifier</span>
                                <div id="modif_p_id" class="modif">
                                    {{ form_start(form) }}
                                        {{ form_label(form.prenom) }}
                                        {{ form_widget(form.prenom) }} <br>
                                        {{ form_label(form.nom) }}
                                        {{ form_widget(form.nom) }} <br>
                                        <button type="submit">Changer</button> 
                                        <button class="cancel">Annuler</button>
                                    {{ form_end(form, {'render_rest': false} ) }}
                                </div>
                            </td>
                            
                        </tr>
                        <tr>
                            <td>Adresse mail</td>
                            <td>{{ user.email }}</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Date de naissance</td>
                            <td>{{ user.dateNaissance }}</td>
                            <td>
                                <span class="modif_link"> <i class='fas fa-pencil-alt' style="display: none;"></i> Modifier</span>
                                <div id="modif_birth" class="modif">
                                    {{ form_start(form) }}
                                        {{ form_label(form.dateNaissance) }}
                                        {{ form_widget(form.dateNaissance.day) }} 
                                        {{ form_widget(form.dateNaissance.month) }}
                                        {{ form_widget(form.dateNaissance.year) }}<br>
                                        <button type="submit">Changer</button> 
                                        <button>Annuler</button>
                                    {{ form_end(form, {'render_rest': false} ) }}
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Numéro de téléphone </td>
                            <td>{{ user.numeroTelephone }}</td>
                            <td>
                                <span class="modif_link"><i class='fas fa-pencil-alt' style="display: none;"></i> Modifier</span>
                                <div id="modif_p_tel" class="modif">
                                    {{ form_start(form) }}
                                        {{ form_label(form.numeroTelephone) }}
                                        {{ form_widget(form.numeroTelephone) }} <br>
                                        <button type="submit">Changer</button> 
                                        <button>Annuler</button>
                                    {{ form_end(form, {'render_rest': false} ) }}
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Adresse</td>
                            <td>{{ user.adresse.nomRue }} <br> {{ user.adresse.ville }} <br> {{ user.adresse.codePostal }}</td>
                            <td>
                                <span class="modif_link"><i class='fas fa-pencil-alt' style="display: none;"></i> Modifier</span>
                            </td>
                        </tr>
                        <tr>
                            <td>Compte complet</td>
                            <td>{{ (user.isActive) ? 'Oui' : 'Non' }}</td>
                            <td>{% if user.isActive %} Mandat signé {% else %} <a href="#">Autoriser le mandat sépa</a> {% endif %}</td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </main>
{% endblock %}
{% block javascript %}
    <script>
        var annulations = document.getElementsByClassName('cancel');
        Array.from(annulations).forEach(function(annulation){
            annulation.addEventListener('click', function(){
                //$('#info_client').preventDefault()               
            })
        })
    </script>
    <script>
        var icons = document.getElementsByClassName('modif_link')
        Array.from(icons).forEach(function(icon){
            icon.addEventListener('mouseover', function(){
                icon.firstElementChild.style.display = "inline-block"
            })
            icon.addEventListener('mouseout', function(){
                icon.firstElementChild.style.display = "none";
            })
            icon.addEventListener('click', function(){
                this.style.display = "none";
                icon.nextElementSibling.style.display = "block";
            })
        })
    </script>
{% endblock %}