{% extends 'base.html.twig' %}

{% block title %}Hello ProfilController!{% endblock %}

{% block main %}
    <main>
        <div class="container">
            <div class="menu_profil">
                <ul>
                    <li> <a href="{{ path('profil') }}">Mes demandes</a> </li>
                    <li> <a href="{{ path('remboursement') }}" >Mes remboursements</a> </li>
                    <li> <a href="{{ path('parrainage') }}" >Mes parrainages</a> </li>
                    <li> <a href="{{ path('info_client') }}" class="active">Mes informations</a> </li>
                </ul>
            </div> <!-- fin class="menu" -->
            {{ form_start(form)}}
            {{ form_end(form)}}
            {#{{app.user.adresse.nomRue}} 
                             {% if app.user.complements is defined %}
                                <br>{{app.user.adresse.complements}}
                            {% endif %}
                            <br>{{app.user.adresse.ville|capitalize}} 
                            <br>{{app.user.adresse.codePostal}}#}
        </div>
    </main>
{% endblock %}
