<div  id="form_versement">
            <h3>Merci de remplir vos <span class="bank">coordonnées bancaires</span></h3>
                {{ form_start(form, {'attr': {'id': 'mode_versement'}}) }}
                    {{ form_label(form.proprietaire) }}
                    {{ form_widget(form.proprietaire) }} 
                    {{ form_label(form.swiftBic) }}
                    {{ form_widget(form.swiftBic) }} 
                    {% for message in app.flashes('warningBic') %}
                        <div class="flash-notice-warning">
                            {{ message }}
                        </div>
                    {% endfor %}
                    {{ form_label(form.iban) }}
                    {{ form_widget(form.iban) }}
                    {% for message in app.flashes('warningIban') %}
                        <div class="flash-notice-warning">
                            {{ message }}
                        </div>
                    {% endfor %}
                    <div class="vanish">
                        {{ form_widget(form.cancel) }} 
                        {{ form_widget(form.submit) }} 
                    </div>
                {{ form_end(form) }}
        </div>
        
        {#<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>#}
        <script src="{{asset('jquery/jquery-validate/dist/jquery.validate.js')}}"></script>
        <script>    
            var form = $('#mode_versement');
                        
            form.validate({
                rules: {
                    "mode_versement[iban]":{
                        "iban": true,
                    },
                    "mode_versement[swiftBic]":{
                        "bic": true,
                    }
                },
            });   
            $('#mode_versement_proprietaire').val("{{ app.user.prenom ~ " " ~ app.user.nom }}");
            var annulations = document.getElementsByClassName('cancel');
            Array.from(annulations).forEach(function(annulation){
                    annulation.addEventListener('click', function(e){
                        e.preventDefault()
                        $('#add_mv').show()
                        $('#mv_location').html(""); 
                        //annulation.parentNode.parentNode.parentNode.style.display = "none"
                        //document.getElementById().style.display = "block"
                    })
                })
        </script>