{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}
 {% block stylesheets %}
	<link rel="stylesheet" href="{{asset('css/admin.css')}}"> 
    <link href="https://fonts.googleapis.com/css?family=Work+Sans&display=swap" rel="stylesheet"> 
{% endblock %}
{% block main %}
<div id="connexion">
    <form action="{{ path('admin_connect') }}" method="post">
        {% for message in app.flashes('warning') %}
            <div class="flash-notice">
                {{ message }}
            </div>
        {% endfor %}
        <div>
        <input type="hidden" name="_csrf_token">
        <label for="username">Email:</label>
        <input type="text" id="username" name="_username" value="{{ last_username }}"/>
        </div>

        <br>

        <div>
        <label for="password">Mot de passe:</label>
        <input type="password" id="password" name="_password" />
        </div>
        <a href="{{path('request_resetting')}}">J'ai oublié mon mot de passe</a>

        <br>
        {#
        If you want to control the URL the user
        is redirected to on success (more details below)
        
        #}
        {#{% if app.flashes('success_hedee')|length == 0 %}
            <input type="hidden" name="_target_path" value="{{path('admin')}}" />
        {% else %}
            <input type="hidden" name="_target_path" value="{{path('confirm')}}" />
        {% endif %}#}


        <button type="submit" >Se connecter</button>
    </form>
</div>

{% endblock %}
{% block javascript %}
{% endblock %}


