{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}
 {% block stylesheets %}
	<link rel="stylesheet" href="{{asset('css/admin.css')}}"> 
{% endblock %}
{% block main %}
<main>
    <div class="container">
            <a href="{{ path('admin') }}"><button>Retour</button></a>
            <h1>Dossier numéro {{alerte.dossier.numeroDossier}}</h1>
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#info_achat">Informations d'achat</a></li>
                <li><a data-toggle="tab" href="#historique">Historique</a></li>
                <li><a data-toggle="tab" href="#fiche_client">Fiche client</a></li>
            </ul>
            <div class="tab-content">
            <div id="info_achat" class="tab-pane fade in active">
                <div>
                    <h3>Achat client</h3>
                    {% if alerte.dossier.urlProduit %}
                        <p>Lien :<a href='{{alerte.dossier.urlProduit}}'> {{alerte.dossier.urlProduit}}</a></p>
                    {% endif %}

                    {% if alerte.dossier.marqueProduit %}
                        <p>Marque :{{ alerte.dossier.marqueProduit }}</p>
                        <p>Prix d'achat :{{ alerte.dossier.prixAchat }}</p>
                    {% endif %}
                </div>
                <div>
                    <h3>Meilleure offre trouvée</h3>
                    {{form_start(form, {'attr' : {'autocomplete' : 'off', 'id' : 'form-alerte'}}) }}
                        <div id="colonne1">
                            {{ form_label(form.prix) }}
                            {{ form_widget(form.prix, {'id': 'prix'}) }}
                        </div>
                        <div id="colonne2">
                            {{ form_label(form.enseigne) }}
                            {{ form_widget(form.enseigne) }}
                        </div>
                        <div id="centre">
                            {{ form_label(form.date) }}
                            {{ form_widget(form.date) }}

                        </div>
                        <div>
                            {{ form_label(form.differencePrix) }}
                            {{ form_widget(form.differencePrix, {'attr' : {'readonly': true}, 'id': 'diffPrix'}) }}
                            <button type="submit" style="float:right;">Alerter</button>
                        </div>
                    {{form_end(form)}}
                </div>
                <div>
                    {{form_start(formC, {'attr' : {'autocomplete' : 'off', 'id' : 'form-cloture'}}) }}
                        {{ form_label(formC.montantCloture) }}
                        {{ form_widget(formC.montantCloture) }}
                        {{ form_widget(formC.clotureR, {'attr' : {'type' : 'submit'}}) }}

                        {{ form_widget(formC.clotureNR, {'attr' : {'type' : 'submit'}}) }}
                        {#<button style="float:left;">Client remboursé</button>
                        <button style="float:right;">Client non remboursé</button>#}
                    {{form_end(formC)}}
                </div>
            </div>
            <div id="historique" class="tab-pane fade">
                <h1>Statut :{{ alerte.dossier.statut }}</h1>
                <ol>
                {% for alertePrix in alerte.dossier.alertesPrix %}
                    <li>
                        Baisse de prix de {{ alertePrix.differencePrix }}€ constatée le {{ alertePrix.date|date("m/d/Y") }} 
                        chez {{ alertePrix.enseigne }} 
                    </li>
                {% endfor %}
                </ol>

            </div>

            <div id="fiche_client" class="tab-pane fade">
                <p>Prénom : {{alerte.dossier.client.prenom}}</p>
                <p>Nom : {{alerte.dossier.client.nom}}</p>
                <p>Numéro de téléphone : {{alerte.dossier.client.numeroTelephone}}</p>
                <p>Email : {{alerte.dossier.client.email}}</p>
                <p>Nombre de parrainage : {{alerte.dossier.client.nbParrainage}}</p>
                <p>Mandat signé : {{ (alerte.dossier.client.isActive) ? 'Oui' : 'Non' }}</p>
                
            </div>


        </div>
    </div>
</main>
{% endblock %}
{% block javascript %}
<script>

    $("#prix").on("change", function (e) {
        var diffPrix = document.getElementById("diffPrix");
        diffPrix.value =  {{alerte.dossier.prixAchat}} - this.value;
        
    });

</script>
{% endblock %}