{% extends 'base.html.twig' %}

{% block stylesheets %} 
    <link rel="stylesheet" href="{{asset('css/style_popup.css')}}">
{% endblock %}

{% block title %}Demande de remboursement{% endblock %}

{% block main %}
<div id="content" class="container">
	<div class="bloc_popup row">
		<div class="block_left2 col-xs-12 col-sm-12 col-md-12 col-lg-6">
			<a href="{{ path('connexion') }}" class="switch">	
				<button class="btn switch_first2"><p>JE ME CONNECTE</p></button>
				<button class="btn switch_second2"><i class="fa fa-arrow-right" style="font-size:24px"></i></button>	
			</a>
		</div>
		<div class="block_right col-xs-12 col-sm-12 col-md-12 col-lg-6">
			<button class="close js-menu-client-close"><i class="fa fa-close" style="font-size:24px"></i></button>
			{{ form_start(form, {'attr': {'id': 'inscription'}}) }}
				<h3> Rejoindre hedee </h3>

				{{ form_row(form._token) }}
				{{ form_widget(form.email, {'attr' : {'placeholder' : 'Votre adresse mail'}, 'id': 'email'}) }}

				{{ form_widget(form.plainPassword.first, {'attr' : {'placeholder' : 'Votre mot de passe'}, 'id': 'password1'}) }}
				
				<div id="pswd2" class="pswd2">
                    {{ form_widget(form.plainPassword.second, {'attr' : {'placeholder' : 'Confirmez votre mot de passe'},'id': 'password2'}) }} 
                </div>

				<button class="orange_button">Je crée mon compte</button>
			{{ form_end(form, {'render_rest': false}) }}
			{% for message in app.flashes('warning') %}
				<div class="flash-notice">
					{{ message }}
				</div>
			{% endfor %}

	</div>
</div>

{% endblock %}

{% block javascript %}
	<script>
		$(document).ready(function() {
			var form = $("#inscription");
			form.validate({
				rules: {
					"inscription[plainPassword][first]":{
						"minlength": 4,
					}
				},
				messages: {
                	"inscription[plainPassword][first]":{
						"minlength": jQuery.validator.format("Le mot de passe doit contenir au moins {0} caractères.")
					}
				}
			});
			

			$('.js-menu-client-close').click(function(){
				window.location.href = "{{ path('accueil') }}"
			})
		});
	</script>
{% endblock %}