{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block main %}
<div class="container">

    {% if user.idParrain is defined %}
        Vous utilisez le code parrainage {{ code }} pour vous inscrire
    {% endif %}
    {{ form_start(form) }}
        {{ form_row(form.email) }}
        {{ form_row(form.plainPassword.first) }}
        {{ form_row(form.plainPassword.second) }}
    {{ form_end(form, {'render_rest': false}) }}
    
    {% for message in app.flashes('warning') %}
        <div class="flash-notice">
            {{ message }}
        </div>
    {% endfor %}
    Si vous possédez déjà un compte, <a href="{{ path('connexion') }}">cliquez ici </a>!
</div>
{% endblock %}
