<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Coming-Back{% endblock %}</title>
				<meta charset="utf-8" />
				<link href="{{asset('bootstrap/css/bootstrap.css')}}" rel="stylesheet" type="text/css">
				<link rel="icon" href="{{asset('img/picto-cb.ico')}}">
				<link rel="stylesheet" href="{{asset('css/style.css')}}">
				<link rel="stylesheet" href="{{asset('css/footer_header.css')}}">
				<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
				<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
				<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        {% block stylesheets %}{% endblock %}
        
    </head>
    <body>
		  <div class="container-fluid header">
		    <div class="navbar-header">
		      <a class="navbar-brand" href="{{ path('accueil') }}"><img src="{{asset('img/coming-back-logo-fond-blanc-horizontal.png')}}" alt="Logo" class="brand-logo" width="150" height="50"></a>
		    </div>

		    <form class="navbar-form navbar-right" action="test_eligibilite.php" name="search_enseigne">
		      <div class="input-group barre_recherche">
		        <input list="enseignes1" type="text" class="form-control" placeholder="ex: Darty" name="enseigne">
		        <datalist id="enseignes1">
						</datalist>
		        <div class="input-group-btn">
		          <button class="btn btn-default" type="submit">
		            <i class="glyphicon glyphicon-search"></i>
		          </button>
		        </div>
		      </div>
		    </form>
		  </div>

			<nav class="navbar navbar-inverse">
				<div class="navigation1">
			    <ul class="nav navbar-nav">
			      <li class="dropdown">
			        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Catégories
			        <span class="caret"></span></a>
			        <ul class="dropdown-menu">
			        </ul>
			      </li>
			      <li><a href="#">Avantages Coming-Back</a></li>
			    </ul>
			  </div>
			  <div class="navigation2">
			    <ul class="nav navbar-nav navbar-right">
			      <li><a href="{{ path('foire_aux_questions') }}">FAQ</a></li>
			      <li><a href="#">Blog</a></li>
			    </ul>
		    </div>
		 	</nav>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}

			<div class="footer">
				<div class="container-fluid">
					<div class="row">
						<div class="col-sm-2 col-md-2">
							<img src="{{asset('img/coming-back-logo-vertical-HD-transparent.png')}}" alt="Logo" class="brand-logo" width="60%" height="60%">
						</div>				
						<div class="col-sm-2 col-sm-offset-2 col-md-2 col-md-offset-1 ">
							<p><a href="">Mentions légales</a></p>
							<p><a href="{{ path('conditions') }}">CGV</a></p>
						</div>
						<div class="col-sm-2 col-md-2 ">
							<p><a href="">Nous contacter</a></p>
							<p><a href="{{ path('a_propos') }}">A propos</a></p>
						</div>
						<div class="col-sm-2 col-md-2">
							<p>Suivez-nous</p>
						</div>
					</div>				
				</div>
			</div>
    </body>
</html>
