{% extends 'base.html.twig' %}

{% block stylesheets %} 
    <link rel="stylesheet" href="{{asset('css/style_facture.css')}}">
{% endblock %}

{% block title %}Demande de remboursement{% endblock %}

{% block main %}
<div id="content" class="container">
	<div class="row">
		<div class="facture col">	
			<div class="header">
				<center>  
					<img width="200" height="30" class="img-fluid mt-4" src="{{asset('img/logo.png')}}" alt="" > 
				</center>
			</div>
			<div class="container-fluid">
				<div class="top row">
					<div class="col">
						<h1 class="enseigne">Darty</h1>
					</div>
					<div class="col">
						<div class="info_client">
							<p>{{ dossier.client.prenom ~ " " ~ dossier.client. nom }} <br> 
							{{ dossier.client.adresse.nomRue }} <br> 
							{{ dossier.client.adresse.codePostal ~ " " ~ dossier.client.adresse.ville }} <br>
							 +33{{ dossier.client.numeroTelephone }} <br> {{ dossier.client.email }}
							</p>
					</div>
					</div>
				</div>
				<div class="middle">
					<div class="details_achat">
						<p>Catégorie du produit : <span class="tabulation"> {{ dossier.categorieProduit }}</span></p>
						{% if dossier.urlProduit is defined  %}
						 	<p>URL : <span class="tabulation"> {{ dossier.urlProduit }}</span></p>
						{% else %}
							<p>Marque : <span class="tabulation"> {{ dossier.marqueProduit }}</span></p>
							<p>Référence : <span class="tabulation"> {{ dossier.referenceProduit }}</span></p>
						{% endif %}
						<br><br><br>
						<p>Montant de l'achat : <span class="tabulation"> {{ dossier.prixAchat }}€</span></p>
					</div>
				</div>
				
				<div class="bottom">
				{% if dossier.hasAlertesPrix %}
					<div class="genial">
						<p><strong>Hedee a trouvé moins cher !</strong><br>Vous pouvez gagner </br>
						<h1> {{ dossier.lastAlerte.differencePrix }}€</h1>
						</p>
					
					</div>
					<div class="details_alerte">
						<div class="row">
							
							<div class="col"><p>Enseigne:</p>
								<div class="details_box">{{ dossier.lastAlerte.enseigne }}</div>
							</div>
							
							<div class="col"><p>Date du constat:</p>
							<div class="details_box">{{ dossier.lastAlerte.date|date('d/m/Y') }}</div>
							</div>
							
							<div class="col"><p>Prix le moins cher:</p>
								<div class="details_box">{{ dossier.lastAlerte.prix }}</div>
							</div>
						</div>
					</div>
				{% endif %}
				</div>
				
					
				<div class="footer">
					<p>&copy; 2019 hedee.co Tous droits réservés<p>
				</div>
			</div>		
		</div>
	</div>
	<p>Hedee s'occupe de tout... <br> Il vous informera lorsque vous serez remboursé</p>
</div>

{% endblock %}

{% block javascript %}
{% endblock %}