{% extends 'base.html.twig' %}

{% block stylesheets %} 
    <link rel="stylesheet" href="{{asset('css/style_popup.css')}}">
{% endblock %}

{% block title %}Demande de remboursement{% endblock %}

{% block main %}
<div id="content" class="container">

	<div class="bloc_popup row">
		<div class="block_left1 col-xs-12 col-sm-12 col-md-12 col-lg-6">
			<a href="{{ path('inscription') }}" class="switch">			
					<button class="btn switch_first"><p>JE REJOINS HEDEE</p></button>
					<button class="btn switch_second1"><i class="fa fa-arrow-right" style="font-size:24px"></i></button>
				
			</a>
		</div>
		<div class="block_right col-xs-12 col-sm-12 col-md-12 col-lg-6">
			<button class="close js-menu-client-close"><i class="fa fa-close" style="font-size:24px"></i></button>
			<form action="{{ path('connexion') }}" method="post" id="connexion">
				<h3> J'ai déjà un compte </h3> 
				
				<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
				<input type="text" id="username" name="_username" value="{{ last_username }}" placeholder="Votre adresse mail"/>

				<input type="password" id="password" name="_password" placeholder="Votre mot de passe"/>
				
				<input type="hidden" name="_target_path" value="/profil" />
				<a href="{{path('request_resetting')}}" target="blank">Mot de passe oublié ?</a>
				<br>
				<button class="blue_button">Je me connecte</button>
			</form>
		</div>
	</div>
</div>

{% endblock %}